/* ? Selectores Básicos */
/* Reto 1: Selector de tipo o elemento */
h2{
    color: steelblue;
}

/* Reto 2: Selector de clase */
.borde{
    border: 1px solid black;
}

/* Reto 3: Selector de Id */
#section{
    border: 1px solid black;
}

/* Reto 4: Selector de clase */
.titulo{
    text-align: center;
}

/* Reto 5: Selector de emoji */
.😁{
    color: darkblue;
}

.😂{
    border: 1px solid black;
    font-size: 20px;
}

/* ? Selectores de atributo */
/* Reto 6: Selector de atributo simple */
[href]{
    text-decoration: none;
}

/* Reto 7: Selector de atributo con valor */
[href="https://alexcgdesign.com/inicio"]{
    color: darkred;
}

/* Reto 8: Selector de atributo con coincidencia al inicio ^ */
[href^="hsttps"]{
    color: darkolivegreen;
}

/* Reto 9: Selector de atributo con coincidencia al final $ */
[href$="org"]{
    background: steelblue;
    color: white;
}

/* Reto 10: Selector de atributo con coincidencia en el medio * */
[href*="alexcgdesign"]{
    background: darksalmon;
}

/* ? Selectores combinadores */