/* Uso del selector universal ( * ) 

   Se recomienda usar este selector para aplicar propiedades como el box-sizing o resetear el margin y padding a 0

*/

*{
    /* Esta propiedad modifica el comportamiento de las cajas. Su valor por defecto es content-box, por lo que se le sumarán los márgenes y paddings modificando el tamaño deseado del elemento. 
    
    Para evitar esto se asigna el valor border-box*/
    box-sizing: border-box; 

    /*Se recomienda definir esto en la regla general para resetear los márgenes y paddings de los elementos*/
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

/* Un elemento no tendrá dimensiones si este no tiene contenido. Para visualizar un elemento sin contenido, es necesario definir un width y height aunque sean de 1px. De preferencia agregar un background para visualizarlo mejor */
.box{
    width: 300px; /* Define el ancho del elemento */
    height: 150px; /* Define el alto del elemento */
}

.box1{
    background: steelblue;
    width: 200px;
    
    /* Margin es un shorthand, o propiedad abreviada que añade un espaciado entre elementos. Contiene a las siguientes propiedades: 
       ! margin-top: 50px;
       ! margin-bottom: 30px;
       ! margin-left: 30px;
       ! margin-right: 25px; 
    */

    /* Margin con 1 valor aplica dicha medida en todos sus lados */
    /* ? margin: 100px; */

    /* Margin con 2 valores, asigna el primer valor arriba y abajo (top y bottom), y el segundo a los lados (left y right) */
    /* ? margin: 40px 80px; */

    /* Margin con 3 valores, el primero se asigna al top, el segundo al left y right, y el tercero al bottom */
    /* ? margin: 30px 50px 5px; */
    
    /* Margin con 4 valores asigna un valor a cada lado, comenzando desde el top -> right -> bottom -> left */
    /* ? margin:50px 30px 25px 30px; */
    
    /* Para centrar un div con margin: auto o margin: 0 auto, el elemento debe ser un elemento de bloque y tener un width establecido */
    /* ? margin: auto; */

    /* ! Colapsado de margenes */
    /* * Se produce cuando un elemento padre, que tiene asignado un margin-bottom, contiene a un elemento hijo con un margin-top. 
    
    *En otras palabras, cuando el elemento hijo quiere aplicar un margin-top a su elemento padre para separarse, el elemento padre se adueña del margin-top, haciendo parecer que el margin-top está siendo aplicado al elemento padre.

    *Se produce exactamente cuando los márgenes margin-top y margin-bottom entran en contacto directo. Para solucionarlo, se requiere de una capa intermedia que intervenga y los separe, como un padding o un border.

    ? NOTA: La capa intermedia debe aplicarse al elemento padre.  
    * */
    
    /* ! DESCOMENTAR PARA VER COLAPSADO DE MÁRGENES */
    /* ! width: 100%; */
    /* ? padding: 0.1px; */
    /* ? border: 1px solid transparent; */

    margin-bottom: 50px;

    border: 1px solid black;
}

/* ! DESCOMENTAR PARA VER COLAPSADO DE MÁRGENES */
/* .header{
    background: gold;
    height: 40px;
    margin-top: 40px;
} */

.box2{
    margin-top: 30px;
    box-sizing: border-box;
    /* Padding, o el relleno de las cajas, es un shorthand que agrega medidas al elemento en su interior. Tiene las siguientes propiedades:
        ! padding-top: 20px;
        ! padding-bottom: 30px;
        ! padding-right: 50px;
        ! padding-left: 40px;

        En su forma abreviada, funciona igual que la propiedad margin.

        Padding con 1 valor -> aplica dicha medida en todos sus lados

        Padding con 2 valores -> asigna el primer valor arriba y abajo (top y bottom), y el segundo a los lados (left y right)

        Padding con 3 valores -> el primero se asigna al top, el segundo al left y right, y el tercero al bottom 

        Padding con 4 valores -> asigna un valor a cada lado, comenzando desde el top -> right -> bottom -> left
    */

    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 40px;
    background: crimson;
    color: black;
    margin-top: 30px;
    margin-left: 20px;

    /*Esta propiedad sirve para manipular el desbordamiento de contenido*/
    overflow: hidden;

    /*border es un shorthand para definir bordes. En su forma abreviada, puede recibir 3 parámetros: 
    
        Width -> Acepta una medida que define el grosor del border
        Style -> Define el estilo del borde aplicado a un elemento
        Color -> Acepta como parámetro un color que se aplicará al borde.

    */
    border: 2px solid steelblue;

    /*Esta propiedad se puede desglozar en 3 propiedades únicas: 
        border:
            -> border-with
            -> border-style
            -> border-color
    */
}