/* ? Selectores combinadores */
/* Reto 1: Selector combinador simple */
h2, h3{
    font-size: 25px;
    font-family: 'Arial';
}

/* Reto 2: Selector combinador descendiente (Espacio) */
.contenedor a{
    text-decoration: none;
    color: firebrick;
}

/* Reto 3: Selector combinador de hijo directo > */
.contenedor > a{
    font-size: 20px;
    font-weight: bold;
}

/* Reto 4: Selector combinador de elementos hermano adyacente + */
h2+p{
    color: gold;
}

/* Reto 5: Selector combinador de elementos hermanos generales */
h3~p{
    color: indigo;
}